/* Table of Contents
1. Global Styles
2. Nav Bar Header
3. Main Content
*/


/* Global Styles */

p, h1, h2, h3, h4, a, ul {
	font-family: "Source Sans Pro", sans-serif;
}

h1 {

	font-size: 40px;
	padding: 0;
	margin: 20px 0 0;
}

h2 {
	font-family: "Sigmar One", sans-serif;
	font-weight: 600;
	font-size: 30px;
	margin: 0 0 10px;
}

h3 {
	font-size: 17px;
	padding: 0;
	margin: 0 0 5px;
}

h4 {
	padding: 0;
	margin: 2px 0 2px;
}


/* Nav Bar Header */

.title-link:hover {
	cursor: pointer;
}

.navbar-default {
	background-color: #272d2e;
	border-bottom: solid 2px #DA020E;
	margin-bottom: -40px;
}

.navbar-default .navbar-nav > li > a {
	color: #DA020E;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus {
	color: #DA020E;
	text-decoration: none;
}

.navbar-default .navbar-toggle {
	border: none;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
	background-color: #272d2e;
}

.navbar-default .navbar-toggle .icon-bar {
	background-color: #DA020E;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
	border-width: 2px;
	border-color: #DA020E;
}

#bs-example-navbar-collapse-1 {
	position: relative;
}

@media (min-width: 767px) {
	#bs-example-navbar-collapse-1 .nav {
	position: absolute;
	bottom: 0;
	right: 0;
	margin-bottom: -10px;
	}
}

#navbar-hamburger {
	position: relative;
}

.navbar-header button {
	position: absolute;
	bottom: 0;
	right: -20px;
	margin-bottom: 0;
}

.title-text {
	margin: -15px 0 0;
	color: #fff;
}

@media (max-width: 450px) {
	h1 {
		font-size: 30px;
	}
}

@media (max-width: 767px) {
	.navbar-default .navbar-nav .open .dropdown-menu > li > a {
		color: #DA020E;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
		color: #fff;
	}

	.navbar-default .navbar-nav .open .dropdown-menu > .active > a, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover, .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
		color: #fff;
		background-color: #000;
	}
}

/*Main Content*/

.instructions {
	padding-top: 50px;
}

ul {
	margin-top: 10px;
	font-size: 18px;
}